body { margin: 0px; }

html, body {
  width: 100%;
  height: 100%;
}

.display-table {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#intro {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.brush-artwork {
  text-align: center;
  background-image: url('images/emoji-brush.png');
  background-size: 416px 388px;
  height: 388px;
  max-width: 416px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.main {
  max-width: 416px;
  text-align: center;
  margin: 0 auto;
  cursor: auto;
  box-sizing: border-box;
  padding-top: 180px;
}

.emoji {
    background-image: url('images/emoji-span.png');
    color: transparent;
    padding-top: 2px;
    background-size: 94px 42px;
  }

.main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 58px;
  margin: 0;
  margin-bottom: 8px;
}

.main h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 0;
  margin-bottom: 58px;
  font-weight: 400;
}

a.btn-draw {
  border-radius: 3px;
  background: #F4C48A ;
  -moz-box-shadow: 0px 1px 1px 0px #C69963 ;
  box-shadow:  0px 1px 1px 0px #C69963 ;
  font-family: 'Montserrat', sans-serif;;
  font-size: 15px;
  color: #232930 ;
  line-height: 19px;
  padding: 18px 35px;
  display: inline-block;
  margin-bottom: 52px;
  cursor: pointer;
}

a.btn-draw:hover {
  background: #E7B578;
  cursor: pointer;
}

.main p, a.nobodys-link {
  font-family: CourierNewPSMT;
  font-size: 15px;
  font-weight: 300;
  color: #D5D8DB;
}

a.nobodys-link:hover {
  color: #BDBFC2;
}

.main h4 {
  font-family: CourierNewPSMT;
  font-size: 15px;
  font-weight: 300;
  color: #9B9FA4;
  margin-bottom: 52px;
}

.attribution {
  position: absolute;
  bottom: 16px;
  text-align: center;
  font-family: CourierNewPSMT;
  width: 100%;
}

.attribution p {
  font-family: CourierNewPSMT;
  font-size: 12px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #D5D8DB;
}

#palette-container {
  text-align: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  min-width: 1007px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  z-index: 2;
}

#palette-container.slow {
  -webkit-transition: -webkit-transform 3.0s;
  -moz-transition: -moz-transform 3.0s;
  -o-transition: -o-transform 3.0s;
  transition: transform 3.0s;
}

#palette-container.hidden {
  -webkit-transform: translate3d(0px, -110px, 0px);
  -moz-transform: translate3d(0px, -110px, 0px);
  -o-transform: translate3d(0px, -110px, 0px);
  transform: translate3d(0px, -110px, 0px);
}

#palette {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #ECEDEF;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity 1.0s;
  -moz-transition: opacity 1.0s;
  -o-transition: opacity 1.0s;
  transition: opacity 1.0s;
}

#palette-tip-container {
  position: absolute;
  text-align: center;
  width: 100%;
  min-width: 74px;
  top: -37px;
  left: 0px;
  background-color: transparent;
  overflow: hidden;
  display: none;
}

#palette-tip {
  border-radius: 37px;
  background-color: #ECEDEF;
  display: inline-block;
  width: 74px;
  height: 74px;
  z-index: 1;
  opacity: 0.8;
}

#blur-canvas {
  top: 0px;
  left: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0.24;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#blur-canvas.slow {
  -webkit-transition: -webkit-transform 3.0s;
  -moz-transition: -moz-transform 3.0s;
  -o-transition: -o-transform 3.0s;
  transition: transform 3.0s;
}

#palette-container.hidden #blur-canvas {
  -webkit-transform: translate3d(0px, 107px, 0px);
  -moz-transform: translate3d(0px, 107px, 0px);
  -o-transform: translate3d(0px, 107px, 0px);
  transform: translate3d(0px, 107px, 0px);
}

.color {
  position: relative;
  z-index: 2;
  height: 46px;
  width: 46px;
  display: block;
  float: left;
  border-radius: 30px;
  margin-right: 14px;
  -webkit-transition: 0.3s;
  -moz-transition:0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 0;
}

.color.current {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation: colorGrow 0.5s;
  -moz-animation: colorGrow 0.5s;
  -o-animation: colorGrow 0.5s;
  animation: colorGrow 0.5s;
  -webkit-box-shadow: 0px 1px 3px rgba(63,64,66,0.35);
  -moz-box-shadow: 0px 1px 3px rgba(63,64,66,0.35);
  -o-box-shadow: 0px 1px 3px rgba(63,64,66,0.35);
  box-shadow: 0px 1px 3px rgba(63,64,66,0.35);
}

.color:last-child {
  margin-right: 0px;
}

.color[data-color="red"] { background: #F80D20; }
.color[data-color="red-orange"] { background: #EF5D22; }
.color[data-color="orange"] { background: #FD9927; }
.color[data-color="yellow-orange"] { background: #FECC2E; }
.color[data-color="yellow"] { background: #FEF235; }
.color[data-color="yellow-green"] { background: #B8D432; }
.color[data-color="green"] { background: #3DB44B; }
.color[data-color="blue-green"] { background: #1BABB3; }
.color[data-color="blue"] { background: #2E40DF; }
.color[data-color="blue-violet"] { background: #2C2B75; }
.color[data-color="violet"] { background: #68397F; }
.color[data-color="red-violet"] { background: #D2117B; }
.color[data-color="white"] { background: #F4F4F4; width: 45px; height: 45px; border: 1px #ccc solid;  }
.color[data-color="gray"] { background: #A7AAA9; }
.color[data-color="brown"] { background: #86542B; }
.color[data-color="black"] { background: #232930; }

#download {
  position: absolute;
  bottom: 62px;
  right: 28px;
  width: 22px;
  height: 28px;
}

.download-icon {
  background-image: url('images/download.png');
  background-size: 22px 28px;
  background-repeat: no-repeat;
  width: 22px;
  height: 28px;
  cursor: pointer;
}

.trashcan-icon {
  background-image: url('images/trash.png');
  background-size: 22px 28px;
  background-repeat: no-repeat;
  width: 22px;
  height: 28px;
  position: absolute;
  bottom: 22px;
  right: 28px;
  cursor: pointer;
}

.nobodys-logo {
  font-family: CourierNewPSMT;
  font-size: 12px;
  line-height: 14px;
  left: 32px;
  bottom: 16px;
  position: absolute;
  color: #D5D8DB;
}

.nobodys-logo a {
  color: #D5D8DB;
  -webkit-transition: opacity ease 0.7s;
}

.nobodys-logo a:hover {
  opacity: 1.0;
  color: #BDBFC2;
  -webkit-transition: opacity ease 0.25s;
}

@-webkit-keyframes colorGrow {
  0% { -webkit-transform: scale(1.0); }
  25% { -webkit-transform: scale(1.30); }
  50% { -webkit-transform: scale(1.20); }
  75% { -webkit-transform: scale (1.0);}
  100% { -webkit-transform: scale(1.2); }
}

@-moz-keyframes colorGrow {
  0% { -moz-transform: scale(1.0); }
  25% { -moz-transform: scale(1.30); }
  50% { -moz-transform: scale(1.20); }
  75% { -moz-transform: scale (1.0);}
  100% { -webkit-transform: scale(1.2); }
}

@keyframes colorGrow {
  0% { transform: scale(1.0); }
  25% { transform: scale(1.30); }
  50% { transform: scale(1.20); }
  75% { transform: scale (1.0);}
  100% { transform: scale(1.2); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {

  .download-icon {
    background-image: url('images/download_2x.png');
    background-size: 22px 28px;
    background-repeat: no-repeat;
    width: 22px;
    height: 28px;
  }

  .trashcan-icon {
    background-image: url('images/trash_2x.png');
    background-size: 22px 28px;
    background-repeat: no-repeat;
    width: 22px;
    height: 28px;
  }

  .emoji {
    background-image: url('images/emoji-span_2x.png');
  }
}

@media screen and (max-height: 1024px) {
  .brush-artwork {
    background-size: 90%;
  }
}

@media screen and (max-height: 950px) {
  .brush-artwork {
    background-size: 80%;
  }
}

@media screen and (max-height: 870px) {
  .brush-artwork {
    background-size: 70%;
  }
}

@media screen and (max-height: 776px) {
  .brush-artwork {
    background-size: 60%;
  }
}

@media screen and (max-height: 710px) {
  .brush-artwork {
    background-size: 50%;
  }
}

@media screen and (max-height: 600px) {
  .brush-artwork {
    display: none;
  }
  .main {
    padding-top: 0px;
  }
}
