body { margin: 0px; overflow: hidden; }

#palette-container {
  text-align: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  min-width: 947px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: -webkit-transform 0.3s;
}

#palette-container.slow {
  -webkit-transition: -webkit-transform 3.0s;
}

#palette-container.hidden {
  -webkit-transform: translate3d(0px, -110px, 0px);
}

#palette {
  position: relative;
  display: inline-block;
  background-color: #ECEDEF;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: opacity 2.0s;
  box-sizing: border-box;
  opacity: 0;
}

#blur-canvas {
  top: 0px;
  left: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0.24;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

#blur-canvas.slow {
  -webkit-transition: -webkit-transform 3.0s;
}

#palette-container.hidden #blur-canvas {
  -webkit-transform: translate3d(0px, 107px, 0px);
}

.color {
  position: relative;
  z-index: 2;
  height: 46px;
  width: 46px;
  display: block;
  float: left;
  border-radius: 30px;
  margin-right: 14px;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transform: scale(1.0);
}

.first {
  -webkit-transform: scale(0.0);
}

.color.ready {
  -webkit-transform: scale(1.0);
  -webkit-animation: colorReady 0.5s;
}

.color.current {
  -webkit-transform: scale(1.2);
  -webkit-animation: colorGrow 0.5s;
  -webkit-box-shadow: 0px 1px 3px rgba(63,64,66,0.35);
}

.color:last-child {
  margin-right: 0px;
}

.color[data-color="red"] { background: #F80D20; }
.color[data-color="red-orange"] { background: #EF5D22; }
.color[data-color="orange"] { background: #FD9927; }
.color[data-color="yellow-orange"] { background: #FECC2E; }
.color[data-color="yellow"] { background: #FEF235; }
.color[data-color="yellow-green"] { background: #B8D432; }
.color[data-color="green"] { background: #3DB44B; }
.color[data-color="blue-green"] { background: #1BABB3; }
.color[data-color="blue"] { background: #2E40DF; }
.color[data-color="blue-violet"] { background: #2C2B75; }
.color[data-color="violet"] { background: #68397F; }
.color[data-color="red-violet"] { background: #D2117B; }
.color[data-color="white"] { background: #F4F4F4; width: 45px; height: 45px; border: 1px #ccc solid;  }
.color[data-color="gray"] { background: #A7AAA9; }
.color[data-color="black"] { background: #232930; }

#download {
  position: absolute;
  bottom: 62px;
  right: 28px;
  width: 22px;
  height: 28px;
}

.download-icon {
  width: 22px;
  height: 28px;
}

.trashcan-icon {
  cursor: pointer;
  width: 22px;
  position: absolute;
  bottom: 22px;
  right: 28px;
}

@-webkit-keyframes colorReady {
  0% { -webkit-transform: scale(0.0); }
  40% { -webkit-transform: scale(1.05); }
  65% { -webkit-transform: scale(0.94); }
  100% { -webkit-transform: scale(1.0); }
}

@-webkit-keyframes colorGrow {
  0% { -webkit-transform: scale(1.0); }
  25% { -webkit-transform: scale(1.30); }
  50% { -webkit-transform: scale(1.20); }
  75% { -webkit-transform: scale (1.0);}
  100% { -webkit-transform: scale(1.2); }
}
